.container {  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr repeat(2, min-content);
  gap: 0px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "avatar username more"
    "separator post post"
    "separator actions ."
    "reply_avatar likes_replies .";
}

.avatar { grid-area: avatar; }

.username { grid-area: username; }

.more { grid-area: more; }

.separator { grid-area: separator; }

.reply_avatar { grid-area: reply_avatar; }

.actions { grid-area: actions; }

.likes_replies { grid-area: likes_replies; }

.post { grid-area: post; }


.container2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "inputArea inputArea inputArea"
    "textResp textResp buttonShare";
}

.textResp { grid-area: textResp; }

.inputArea { grid-area: inputArea; }

.buttonShare { grid-area: buttonShare; }
